In [23]:
import requests
import bs4
from bs4 import BeautifulSoup
import pandas as pd
import time
import numpy as np

In [2]:
data = pd.read_csv('data_offer.csv')

In [19]:
df = data.copy()

In [22]:
df = df.dropna()
df

,city,job_title,company_name,summary,salary
5,Paris (75),AGENT ADMINISTRATIF GESTIONNAIRE DATA H/F,CAF DE PARIS,"Au cœur de la Sécurité Sociale, la Caisse d’Al...",\n1 627 € par mois
7,Gidy (45),Data Analyst H/F,Gojob,"Nous recherchons pour notre client, acteur dan...",\n2 289 € - 2 769 € par mois
13,Paris 11e (75),Responsable de la protection des données - Dat...,Médecins sans frontières,"Médecins Sans Frontières, association médicale...",\n44 200 € par an
15,Ivry-sur-Seine (94),Consultant Data CDI,AfterData,Participer aux ateliers métier et data.\nCommu...,\n40 000 € - 50 000 € par an
27,Paris (75),DATA ANALYST (CONSULTANT),Invenis,Nos clients sont en pleine transformation digi...,\n35 000 € - 50 000 € par an
...,...,...,...,...,...
20107,Paris,Développeur Python | IA / Machine learning & a...,In-Team,"Au sein de l’équipe data de 3 personnes, vous ...",\n40 000 € - 60 000 € par an
20116,Boulogne-Billancourt (92),Développeur Python – Big data / IOT énergie,Konekt,"Notre client, PME très dynamique et plateforme...",\n45 000 € - 50 000 € par an
20126,Boulogne-Billancourt (92),Développeur Python – Big data / IOT énergie,Konekt,"Notre client, PME très dynamique et plateforme...",\n45 000 € - 50 000 € par an
20135,Paris,Développeur Python | IA / Machine learning & a...,In-Team,"Au sein de l’équipe data de 3 personnes, vous ...",\n40 000 € - 60 000 € par an
20144,Boulogne-Billancourt (92),Développeur Python – Big data / IOT énergie,Konekt,"Notre client, PME très dynamique et plateforme...",\n45 000 € - 50 000 € par an

In [24]:
df["salary"] = df["salary"].str.replace("\n", "")
df["salary"] = df["salary"].str.replace(",", "")
df["salary"] = df["salary"].str.replace("€", "")

In [25]:
df

,city,job_title,company_name,summary,salary
5,Paris (75),AGENT ADMINISTRATIF GESTIONNAIRE DATA H/F,CAF DE PARIS,"Au cœur de la Sécurité Sociale, la Caisse d’Al...",1 627 par mois
7,Gidy (45),Data Analyst H/F,Gojob,"Nous recherchons pour notre client, acteur dan...",2 289 - 2 769 par mois
13,Paris 11e (75),Responsable de la protection des données - Dat...,Médecins sans frontières,"Médecins Sans Frontières, association médicale...",44 200 par an
15,Ivry-sur-Seine (94),Consultant Data CDI,AfterData,Participer aux ateliers métier et data.\nCommu...,40 000 - 50 000 par an
27,Paris (75),DATA ANALYST (CONSULTANT),Invenis,Nos clients sont en pleine transformation digi...,35 000 - 50 000 par an
...,...,...,...,...,...
20107,Paris,Développeur Python | IA / Machine learning & a...,In-Team,"Au sein de l’équipe data de 3 personnes, vous ...",40 000 - 60 000 par an
20116,Boulogne-Billancourt (92),Développeur Python – Big data / IOT énergie,Konekt,"Notre client, PME très dynamique et plateforme...",45 000 - 50 000 par an
20126,Boulogne-Billancourt (92),Développeur Python – Big data / IOT énergie,Konekt,"Notre client, PME très dynamique et plateforme...",45 000 - 50 000 par an
20135,Paris,Développeur Python | IA / Machine learning & a...,In-Team,"Au sein de l’équipe data de 3 personnes, vous ...",40 000 - 60 000 par an
20144,Boulogne-Billancourt (92),Développeur Python – Big data / IOT énergie,Konekt,"Notre client, PME très dynamique et plateforme...",45 000 - 50 000 par an

In [47]:
year_salaries = df[df["salary"].str.contains("an")]
month_salaries = df[df["salary"].str.contains("mois")]
day_salaries = df[df["salary"].str.contains("jour")]
hour_salaries = df[df["salary"].str.contains("heure")]

In [48]:
year_salaries["salary"] = year_salaries["salary"].str.replace(" par an", "")
month_salaries["salary"] = month_salaries["salary"].str.replace(" par mois", "")
day_salaries["salary"] = day_salaries["salary"].str.replace(" par jour", "")
hour_salaries["salary"] = hour_salaries["salary"].str.replace(" par heure", "")

C:\Users\Shokh\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\Shokh\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\Shokh\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [117]:
def min_sal(sal):
    try:
        splt = sal.split(' - ', 1)
        first = float(splt[0])
        return first
    except:
        return float(sal)

def max_sal(sal):
    try:
        splt = sal.split(' - ', 1)
        second = float(splt[1])
        return second
    except:
        return float(sal)
    
def avg_sal(sal):
    try:
        splt = sal.split(' - ', 1)
        first = float(splt[0])
        second = float(splt[1])
        return (first + second)/2
    except:
        return float(sal)

In [ ]:
year_salaries['salary'] = year_salaries['salary'].str.replace('\xa0','')

In [95]:
year_salaries["salary"] = year_salaries["salary"].apply(avg_sal)

C:\Users\Shokh\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [109]:
month_salaries["salary"] = month_salaries["salary"].str.replace('\xa0','')
day_salaries["salary"] = day_salaries["salary"].str.replace('\xa0','')
hour_salaries["salary"] = hour_salaries["salary"].str.replace('\xa0','')

C:\Users\Shokh\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\Shokh\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [110]:
month_salaries["salary"] = month_salaries["salary"].apply(avg_sal)
day_salaries["salary"] = day_salaries["salary"].apply(avg_sal)
hour_salaries["salary"] = hour_salaries["salary"].apply(avg_sal)

C:\Users\Shokh\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\Shokh\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [106]:
year_salaries['job_title'][year_salaries['salary']>50000]

214      Data Engineer Machine Learning – Marketplace -...
419                                    Data Engineer - H/F
484      Head of Marketing pour une start-up Big Data m...
596       VP Engineer l Startup l Data l Paris l 100-130k€
775                                   Data Scientist - NLP
819      Data engineer Python pour une marketplace à fo...
949      Data Business Analyst dans l'une de nos 1200 s...
960                      Développeur Big data H/F Grenoble
12813           C++ developer – Startup data visualisation
12853           C++ developer – Startup data visualisation
12893           C++ developer – Startup data visualisation
12953           C++ developer – Startup data visualisation
12993           C++ developer – Startup data visualisation
13033           C++ developer – Startup data visualisation
13043           C++ developer – Startup data visualisation
13098           C++ developer – Startup data visualisation
13248           C++ developer – Startup data visualisation
13268           C++ developer – Startup data visualisation
13298           C++ developer – Startup data visualisation
13348           C++ developer – Startup data visualisation
13358           C++ developer – Startup data visualisation
13448           C++ developer – Startup data visualisation
13543           C++ developer – Startup data visualisation
13583           C++ developer – Startup data visualisation
13613           C++ developer – Startup data visualisation
13703           C++ developer – Startup data visualisation
13733           C++ developer – Startup data visualisation
13883           C++ developer – Startup data visualisation
13933           C++ developer – Startup data visualisation
13963           C++ developer – Startup data visualisation
14133           C++ developer – Startup data visualisation
14203           C++ developer – Startup data visualisation
14293           C++ developer – Startup data visualisation
14403           C++ developer – Startup data visualisation
14433           C++ developer – Startup data visualisation
14463           C++ developer – Startup data visualisation
14473           C++ developer – Startup data visualisation
14528           C++ developer – Startup data visualisation
14568           C++ developer – Startup data visualisation
14618           C++ developer – Startup data visualisation
14638           C++ developer – Startup data visualisation
14678           C++ developer – Startup data visualisation
14688           C++ developer – Startup data visualisation
14728           C++ developer – Startup data visualisation
14758           C++ developer – Startup data visualisation
14778           C++ developer – Startup data visualisation
14853           C++ developer – Startup data visualisation
14878           C++ developer – Startup data visualisation
14888           C++ developer – Startup data visualisation
14918           C++ developer – Startup data visualisation
15018           C++ developer – Startup data visualisation
15038           C++ developer – Startup data visualisation
15078           C++ developer – Startup data visualisation
15118           C++ developer – Startup data visualisation
15158           C++ developer – Startup data visualisation
15333           C++ developer – Startup data visualisation
15403           C++ developer – Startup data visualisation
15423           C++ developer – Startup data visualisation
15783           C++ developer – Startup data visualisation
15823           C++ developer – Startup data visualisation
15903           C++ developer – Startup data visualisation
15983           C++ developer – Startup data visualisation
16133           C++ developer – Startup data visualisation
Name: job_title, dtype: object