In [3]:
import pandas as pd

In [1]:
from Topic_Extracting import TopicExtract

In [4]:
df = pd.read_csv("scrapedClean.csv")
df.head(5)

                Company  Count        Date                                        Description             Location Rating                                       Title  avg_salary  max_salary  min_salary  Dept  CDI  CDD  Freelance  Temps partiel  Temps plein  Type_Notknown
0               Socomec     32  2020-05-27  Référence de l'annonce : H-SSA-2019-59QUI SOMM...             Benfeld     3,7  Responsable Business Intelligence (BI) H/F         NaN         NaN         NaN    67  0.0  0.0        0.0            0.0          0.0            1.0
1         BCA Expertise      0  2020-05-27  Leader français de l'expertise automobile, BCA...  Asnières-sur-Seine       3    Data Analyst - Business Intelligence H/F         NaN         NaN         NaN    92  1.0  0.0        0.0            0.0          1.0            0.0
2  Pôle Lille Métropole     59  2020-05-27  CONTEXTEAvec 36 000 salariés, Ramsay Santé est...               Lille     2,9       Directeur du contrôle financier - H/F         NaN         NaN         NaN    59  1.0  0.0        0.0            0.0          1.0            0.0
3                Tereos     99  2020-05-27  Intitulé du posteDEMAND PLANNING AND FORECAST ...     Moussy-le-Vieux     4,1    DEMAND PLANNING AND FORECAST MANAGER H/F         NaN         NaN         NaN    77  0.0  0.0        1.0            0.0          1.0            0.0
4               Solutec     20  2020-05-27  Vous cherchez à rejoindre une équipe dynamique...            Toulouse     3,3        Consultant Business Intelligence H/F         NaN         NaN         NaN    31  0.0  1.0        0.0            0.0          0.0            0.0

In [5]:
df.shape

(6701, 17)

In [6]:
df.duplicated().any()

False

In [ ]:
#df = df[~df.duplicated(keep='first')]

In [10]:
topiClass=TopicExtract(df['Location'])

In [11]:
df=topiClass.generateBOW(df)

In [12]:
df.head(3)

                Company  Count        Date                                        Description             Location Rating                                       Title  avg_salary  max_salary  min_salary  Dept  CDI  CDD  Freelance  Temps partiel  Temps plein  Type_Notknown                                         BagOfWords
0               Socomec     32  2020-05-27  Référence de l'annonce : H-SSA-2019-59QUI SOMM...             Benfeld     3,7  Responsable Business Intelligence (BI) H/F         NaN         NaN         NaN    67  0.0  0.0        0.0            0.0          0.0            1.0  [respons, business, intelligent, référent, ann...
1         BCA Expertise      0  2020-05-27  Leader français de l'expertise automobile, BCA...  Asnières-sur-Seine       3    Data Analyst - Business Intelligence H/F         NaN         NaN         NaN    92  1.0  0.0        0.0            0.0          1.0            0.0  [dat, analyst, business, intelligent, lead, fr...
2  Pôle Lille Métropole     59  2020-05-27  CONTEXTEAvec 36 000 salariés, Ramsay Santé est...               Lille     2,9       Directeur du contrôle financier - H/F         NaN         NaN         NaN    59  1.0  0.0        0.0            0.0          1.0            0.0  [directeur, contrôl, financi, contexteavec, sa...

In [15]:
#dfLSA=getLSATopics(df['Title'],6)
dfLSA=topiClass.getLSATopics(df['Title'],9,option='tf')

[(0,
  '0.615*"dat" + 0.435*"dat engine" + 0.424*"engine" + 0.210*"scientist" + 0.209*"dat scientist" + 0.174*"devop" + 0.155*"dat analyst" + 0.140*"analyst" + 0.137*"ingenieur" + 0.102*"ingenieur devop"'),
 (1,
  '0.672*"devop" + 0.485*"ingenieur devop" + 0.468*"ingenieur" + -0.148*"dat" + -0.140*"dat engine" + -0.104*"engine" + -0.070*"scientist" + -0.069*"dat scientist" + 0.059*"consult devop" + 0.056*"developp"'),
 (2,
  '0.474*"engine" + 0.354*"dat engine" + -0.341*"dat scientist" + -0.341*"scientist" + -0.294*"developpeur" + -0.244*"analyst" + -0.240*"dat analyst" + -0.204*"dat" + 0.185*"softwar" + 0.182*"softwar engine"'),
 (3,
  '0.656*"developpeur" + 0.267*"web" + 0.262*"developpeur web" + 0.200*"full" + 0.198*"full stack" + 0.198*"stack" + -0.188*"dat scientist" + -0.188*"scientist" + 0.161*"engine" + 0.158*"developpeur full"'),
 (4,
  '0.564*"dat analyst" + 0.508*"analyst" + -0.391*"dat scientist" + -0.384*"scientist" + -0.229*"consult" + 0.104*"ingenieur" + -0.084*"devop" + -0.082*"consult dat" + 0.071*"dat" + -0.067*"architect"'),
 (5,
  '-0.648*"consult" + 0.332*"ingenieur" + -0.319*"architect" + -0.287*"devop" + -0.193*"consult devop" + 0.189*"dat scientist" + 0.187*"scientist" + 0.181*"ingenieur devop" + -0.160*"consult dat" + -0.128*"dat analyst"'),
 (6,
  '0.872*"architect" + -0.268*"consult" + 0.156*"solut" + 0.128*"architect dat" + -0.127*"devop" + 0.121*"ingenieur" + 0.103*"architect solut" + 0.085*"solut architect" + 0.084*"architect techniqu" + -0.084*"consult devop"'),
 (7,
  '-0.396*"full" + -0.392*"full stack" + -0.392*"stack" + 0.366*"web" + 0.353*"developpeur web" + -0.338*"developpeur full" + -0.179*"softwar" + -0.175*"softwar engine" + 0.143*"dat engine" + 0.094*"end"'),
 (8,
  '0.342*"softwar" + 0.333*"softwar engine" + 0.306*"consult" + -0.278*"devop" + 0.273*"ingenieur" + 0.272*"business" + -0.204*"dat engine" + 0.187*"business intelligent" + 0.187*"intelligent" + 0.178*"end"')]

                                                   0         1         2         3         4         5         6         7         8
Title
Responsable Business Intelligence (BI) H/F  0.015402  0.006169 -0.028492 -0.000315  0.023139 -0.037715 -0.014410 -0.011052  0.251961
Data Analyst - Business Intelligence H/F    0.218348 -0.051677 -0.208849 -0.073886  0.354435 -0.110716 -0.043607 -0.054552  0.229305
Directeur du contrôle financier - H/F       0.001409 -0.000262 -0.000778 -0.000361  0.001491 -0.001365  0.000075 -0.000254  0.001665
DEMAND PLANNING AND FORECAST MANAGER H/F    0.005902 -0.000517 -0.002330 -0.001249 -0.000909 -0.001481  0.000296  0.000615  0.004761
Consultant Business Intelligence H/F        0.043109  0.018300 -0.060565 -0.017242 -0.048408 -0.253628 -0.104552 -0.011685  0.402300

shape  (6701, 9)

In [19]:
#dfLda=getLDaTopics(df['Title'],6)
dfLda=topiClass.getLDaTopics(df['Title'],4,option='tf',gram=(2,3),iters=200)

[(0,
  '0.017*"dat scientist" + 0.009*"developpeur full" + 0.009*"developpeur full stack" + 0.008*"full stack" + 0.007*"chef projet" + 0.006*"ingenieur dat" + 0.004*"senior softwar" + 0.004*"senior softwar engine" + 0.004*"softwar engine" + 0.003*"architect techniqu"'),
 (1,
  '0.028*"dat engine" + 0.013*"softwar engine" + 0.008*"devop engine" + 0.007*"front end" + 0.007*"ingenieur developp" + 0.006*"developpeur front" + 0.005*"developpeur front end" + 0.005*"architect dat" + 0.003*"developpeur informat" + 0.003*"developpeur php"'),
 (2,
  '0.025*"ingenieur devop" + 0.016*"developpeur web" + 0.007*"consult dat" + 0.007*"developpeur jav" + 0.006*"back end" + 0.005*"developpeur back" + 0.005*"business analyst" + 0.005*"developpeur back end" + 0.004*"developpeur python" + 0.004*"developpeur dat"'),
 (3,
  '0.015*"dat analyst" + 0.006*"consult devop" + 0.005*"ingenieur etud" + 0.004*"developpeur fullstack" + 0.004*"etud developp" + 0.003*"ingenieur etud developp" + 0.003*"business develop" + 0.003*"full stack" + 0.003*"administr system" + 0.002*"architect infrastructur"')]

                                                   0         1         2         3
Title
Responsable Business Intelligence (BI) H/F  0.720975  0.093040  0.093472  0.092512
Data Analyst - Business Intelligence H/F    0.080546  0.079533  0.756145  0.083776
Directeur du contrôle financier - H/F       0.723441  0.092185  0.092166  0.092208
DEMAND PLANNING AND FORECAST MANAGER H/F    0.078167  0.078148  0.078120  0.765564
Consultant Business Intelligence H/F        0.722304  0.092450  0.093394  0.091852

shape  (6701, 4)